body {
    position: relative;


    .home-content {
        .slide {
            margin-top: 3px;
            margin-bottom: 3px;
        }

        .more {
            float: right;
        }

        .recomend-item {

            .img-item {
                img {
                    width: 100%;
                }
            }
        }

        .addToCart {
            float: right;
        }

        .new {
            font-weight: 600;
            font-size: 100%;
        }
    }

    .navBar {
        .nav-item {
            text-align: center;
        }
    }

    .footer {
        width: 100%;
        height: 30px;
        background-color: grey;
    }

    .list-product {

        .name-page {
            font-size: 100%;
            font-weight: 600;
        }

        .search {
            position: relative;

            .icon-search {
                color: grey;
                position: absolute;
                right: 25px;
                top: 5px;
                cursor: pointer;
                transition: 0.25s;
            }

            .icon-search:hover {
                color: black;
            }
        }

        .filter {
            .filter-seperate {
                height: 25px;
                background-color: grey;
                justify-content: center;
                font-weight: 500;
                color: white;
            }

            .btn-filter {
                float: right;
                cursor: pointer;
            }

            .filter-item {
                height: 30px;
                border-radius: 20px;
                background-color: #d3d3d3c9;
                cursor: pointer;
            }

            .filter-item:hover {
                background-color: #D3D3D3;
            }
        }

        .product-item {
            img {
                width: 100%;
            }

            .detail {
                min-height: 150px;
            }

            .addToCart {
                float: right;
            }
        }

        .more {
            cursor: pointer;
            text-align: center;
            background-color: #d3d3d3c9;
            transition: 0.2s;
        }

        .more:hover {
            background-color: #D3D3D3;
        }
    }

    .cart {
        min-height: 600px;

        .name-page {
            font-size: 100%;
            font-weight: 600;
        }

        .back {
            display: flex;
            justify-content: right;
            align-items: center;

            a {
                text-decoration: none;
                color: black;
                float: right;
            }
        }

        .list-product {

            table {
                width: 100%;
                font-family: Tahoma, sans-serif;
                color: #778899;
            }

            table,
            th,
            tr,
            td {

                img {
                    width: 100%;
                }

                .product-img {
                    width: 10%;
                }

                .product-name {
                    width: 40%;
                    padding-left: 10px;
                }

                .product-price {
                    width: 10%;
                    text-align: center;
                }

                .product-quantity {
                    width: 30%;
                    text-align: center;

                    input {
                        width: 30px;
                        text-align: center;
                    }
                }

                .product-total {
                    text-align: right;
                }

                .item {
                    color: black;
                }

                .subtotal {
                    color: red;
                }
            }
        }

        @media only screen and (max-width: 800px) {
            .product-total {
                width: 10%;
            }

            .product-name {
                display: none;
            }

            .product-price {
                display: none;
            }
        }

        .btn-buy {
            width: 100%;
        }
    }

}