body {
    position: relative;


    .home-content {
        .slide {
            margin-top: 3px;
            margin-bottom: 3px;
        }

        .more {
            float: right;
        }

        .recomend-item {

            .img-item {
                img {
                    width: 100%;
                }
            }

            a {
                color: black;
                text-decoration: none;
            }
        }

        .addToCart {
            float: right;
        }

        .new {
            font-weight: 600;
            font-size: 100%;
        }
    }

    .navBar {
        .nav-item {
            text-align: center;
        }
    }

    .footer {
        width: 100%;
        height: 30px;
        background-color: grey;
    }

    .list-product {

        a {
            color: black;
            text-decoration: none;
        }

        .name-page {
            font-size: 100%;
            font-weight: 600;
        }

        .search {
            position: relative;

            .icon-search {
                color: grey;
                position: absolute;
                right: 25px;
                top: 5px;
                cursor: pointer;
                transition: 0.25s;
            }

            .icon-search:hover {
                color: black;
            }
        }

        .filter {
            .filter-seperate {
                height: 25px;
                background-color: grey;
                justify-content: center;
                font-weight: 500;
                color: white;
            }

            .btn-filter {
                float: right;
                cursor: pointer;
            }

            .filter-item {
                height: 30px;
                border-radius: 20px;
                background-color: #d3d3d3c9;
                cursor: pointer;
            }

            .filter-item:hover {
                background-color: #D3D3D3;
            }
        }

        .product-item {
            img {
                width: 100%;
            }

            .detail {
                min-height: 150px;
            }

            .addToCart {
                float: right;
            }
        }

        .more {
            cursor: pointer;
            text-align: center;
            background-color: #d3d3d3c9;
            transition: 0.2s;
        }

        .more:hover {
            background-color: #D3D3D3;
        }
    }

    .cart {
        min-height: 600px;

        .name-page {
            font-size: 100%;
            font-weight: 600;
        }

        .back {
            display: flex;
            justify-content: right;
            align-items: center;

            a {
                text-decoration: none;
                color: black;
                float: right;
            }
        }

        .list-product {

            table {
                width: 100%;
                font-family: Tahoma, sans-serif;
                color: #778899;
            }

            table,
            th,
            tr,
            td {

                img {
                    width: 100%;
                }

                .product-img {
                    width: 10%;
                }

                .product-name {
                    width: 40%;
                    padding-left: 10px;
                }

                .product-price {
                    width: 10%;
                    text-align: center;
                }

                .product-quantity {
                    width: 30%;
                    text-align: center;

                    input {
                        width: 30px;
                        text-align: center;
                    }
                }

                .product-total {
                    text-align: right;
                }

                .item {
                    color: black;
                }

                .subtotal {
                    color: red;
                }
            }
        }

        @media only screen and (max-width: 800px) {
            .product-total {
                width: 10%;
            }

            .product-name {
                display: none;
            }

            .product-price {
                display: none;
            }
        }

        .btn-buy {
            width: 100%;
        }

        .update-quantity {
            border: none;
            width: 25px;
            border-radius: 3px;
            background-color: #778899;
            color: white;
            transition: 0.25s;
        }

        .update-quantity:hover {
            background-color: #77889984;
        }

        .quantity {
            margin-right: 2px;
            margin-left: 2px;
        }

        .delete {
            border: none;
            width: 25px;
            border-radius: 3px;
            background-color: red;
            color: white;
            transition: 0.25s;
        }

        .delete:hover {
            background-color: rgb(247, 109, 109);
        }
    }

    .content {

        .product-detail {

            width: 80%;

            .product-name-small {
                font-size: 30px;
                font-weight: 500;
            }

            .product-name-big {
                font-size: 30px;
                font-weight: 500;
            }

            .image {
                .main-image {
                    max-width: 400px;
                    max-height: 400px;
                    overflow: hidden;
                    border: 3px solid #77889984;
                    border-radius: 20px;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);

                    #main {
                        width: 100%;
                        height: 100%;
                        transform-origin: center center;
                        transform-origin: 20px 20px;
                        object-fit: cover;
                        transform: scale(1);
                        cursor: pointer;
                    }
                }

                .list-image {
                    img {
                        width: 100%;
                        transition: 0.5s;
                        border: 3px solid #77889984;
                        border-radius: 20px;
                    }

                    img:hover {
                        filter: opacity(30%);
                    }
                }
            }

            .information {
                input {
                    width: 40px;
                    text-align: center;
                }

                .quantity {
                    .update-quantity {
                        border: none;
                        width: 25px;
                        border-radius: 3px;
                        background-color: #778899;
                        color: white;
                        transition: 0.25s;
                    }

                    .update-quantity:hover {
                        background-color: #77889984;
                    }

                    .quantity {
                        margin-right: 2px;
                        margin-left: 2px;
                    }
                }
            }

            .other {
                font-size: 100%;
                font-weight: 500;
            }

            .recomend-item {

                .img-item {
                    img {
                        width: 100%;
                    }
                }

                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }

        @media only screen and (max-width: 1200px) {
            .product-detail {
                width: 100%;
            }
        }

        @media only screen and (min-width: 770px) {
            .product-name-small {
                display: none;
            }
        }

        @media only screen and (max-width: 770px) {

            .product-name-big {
                display: none;
            }

            .add-to-cart {
                width: 100%;
            }
        }
    }
}